---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
    font-family: 'text';
    src: url('/assets/fonts/SUIT-Variable.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'code';
    src: url('/assets/fonts/JetBrainsMono-Light.ttf') format('truetype');
    font-style: normal;
}

body {
    font-family: 'text', sans-serif;
}

code {
    font-size: 15px;
    font-family: 'code', sans-serif;
}

p:has(img) {
    width: 600px;
    margin: 0 auto !important;
  }
  